@import "tailwindcss";


@theme {
  --color-bg-dark: #021738;
  --color-bg-card: #06121c;

  --color-primary: #ededf1;
  --color-secondary: #d2d4d4;
  

  --color-accent-green: #4dc756;
  --color-warning-orange: #dfab41;

  --color-border: #57634e;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

