@import "tailwindcss";


@theme {
  --color-bg-dark: #F5F2ED;
  --color-bg-card: #d6ccc2;

  --color-primary: #080708;
  --color-secondary: #393d3f;
  

  --color-accent-green: #2563EB; /* #2600ff   #000080  #2563EB*/
  --color-warning-orange: #3772ff;

 --color-border: #B7B0A8; /* #B7B0A8   #57634e*/

}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

